#right-panel {
  display: none;
  position: absolute;
  top: 63.17px;
  right: 0;
  width: 100%;
  padding-top: 1.1rem;
  background-color: #242424;
  min-height: calc(100vh - 63.17px);
  z-index: 1;
}

.right-panel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 2.8rem;
}

.right-panel__title {
  font-family: GothaB;
  font-size: pxToRem(18px);
  color: #fff;
}

.right-panel__close {
  cursor: pointer;
}

.right-panel__close-svg {
  width: .6rem;
  height: .6rem;
  fill: #666666;
}
// PHOTO CARD
.right-panel__container {
  width: 224px;
  margin: auto;
}

.right-panel__photo-container {
  margin-bottom: 2.5rem;
}

.right-panel__photo-card {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.right-panel__photo-description {
  font-family: GothaR;
  font-size: pxToRem(10px);
  text-transform: uppercase;
  color: #7f7f7f;
  margin-right: 2rem;
}

.right-panel__photo {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background-color: #383838;
  position: relative;
  &::before {
    display: block;
    content: url('img/plus.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// LOGO CARD
.right-panel__logo-description {
  display: block;
  font-family: GothaR;
  font-size: pxToRem(10px);
  text-transform: uppercase;
  color: #7f7f7f;
  margin-bottom: 1.1rem;
}

.right-panel__logo {
  width: 8.7rem;
  height: 2.8rem;
  background-color: #383838;
  position: relative;
  &::before {
    display: block;
    content: url('img/plus.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// FORM
.right-panel__form-name {
  margin-bottom: 2.6rem;
}

.right-panel__label-name {
  display: block;
  font-family: GothaR;
  font-size: pxToRem(10px);
  color: #7f7f7f;
  text-transform: uppercase;
}

.right-panel__input-name {
  width: 100%;
  display: block;
  font-family: GothaR;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #5c5c5c;
  color: #fff;
  margin-top: .9rem;
  padding-bottom: .1rem;
}

.right-panel__video-card {
  margin-bottom: 2.6rem;
}

.right-panel__video-description {
  font-family: GothaR;
  display: block;
  font-size: pxToRem(10px);
  text-transform: uppercase;
  color: #7f7f7f;
  margin-bottom: 1rem;
}

.right-panel__video {
  width: 13.9rem;
  height: 7.8rem;
  background-color: #383838;
  position: relative;
  &::before {
    display: block;
    content: url('img/plus.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.right-panel__input-social {
  width: 100%;
  display: block;
  font-family: GothaR;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #5c5c5c;
  color: #fff;
  margin-bottom: 1.8rem;
  padding-bottom: .1rem;
  &:first-of-type {
    margin-top: 1.7rem;
  }
}

// SKILLS BLOCK
.skills-block {
  margin-bottom: 3.1rem;
}

.skills-block__card {
  margin-bottom: 1.8rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.skills-block__title {
  display: block;
  font-family: GothaR;
  font-size: pxToRem(10px);
  color: #7f7f7f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.skills-block__count {
  display: block;
  font-family: GothaB;
  color: #fff;
  margin-bottom: 1.2rem;
}

.skills-block__label {
  display: flex;
  align-items: center;
  font-family: GothaR;
  font-size: pxToRem(12px);
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1.05rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.skills-block__input {
  position: relative;
  display: block;
  width: 20%;
  font-family: GothaR;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #5c5c5c;
  color: #fff;
  padding-bottom: .1rem;
  margin-left: .7rem;
  text-align: center;
}

.right-block__save-btn {
  font-family: GothaB;
  font-size: pxToRem(14px);
  background-color: #2adfbb;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 1.15rem 4rem;
}

@media (min-width: 768px) {
  #right-panel {
    // display: block;
    width: 37.2rem;
    top: 81.17px;
    min-height: 1102.8px;
  }

  .right-panel__content {
    padding-top: 2.5rem;
  }

  .right-panel__header {
    padding: 0 3.7rem;
  }

  .right-panel__container {
    width: 30.9rem;
  }

  .right-panel__photo-container {
    display: flex;
    align-items: center;
    margin-bottom: 2.7rem;
  }

  .right-panel__photo-card {
    margin-bottom: 0;
  }

  .right-panel__photo-description {
    padding-top: .4rem;
  }

  .right-panel__photo-card {
    margin-right: 5.4rem;
  }

  .right-panel__logo-card {
    padding-top: .6rem;
  }

  .right-panel__name-container {
    display: flex;
    margin-bottom: 3.4rem;
  }

  .right-panel__form-name {
    width: 13.8rem;
    margin-right: 3.1rem;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }

  .right-panel__video-description {
    margin-bottom: 1.1rem;
  }

  .right-panel__video-container {
    display: flex;
    margin-bottom: 1.6rem;
  }

  .right-panel__video-card {
    margin-bottom: 0;
    margin-right: 3rem;
  }

  .right-panel__video-container + .right-panel__form-name {
    width: 100%;
    margin-bottom: 3.4rem;
  }

  .skills-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.25rem;
  }

  .skills-block__title {
    width: 100%;
  }

  .skills-block__card {
    width: 48.4%;
  }

  .right-block__save-btn {
    padding: 1.15rem 12.5rem;
  }
}

@media (min-width: 1920px) {
  #right-panel {
    min-height: 1102.8px;
    order: 2;
    position: relative;
    display: block !important;
    width: 30.4%;
    top: 0;
  }
}
