// .selectric-wrapper {
//   width: 300px;
//   margin: auto;
// }

// header selct
.select-block {
  .selectric {
    border-bottom: none;
    .label {
      margin-right: 0;
      color: rgb(129, 129, 129);
      position: relative;
      &::after {
        position: absolute;
        content: url("img/content/select.png");
        right: 0;
        bottom: 0;
      }
    }
  }

  .select-container {
    &:first-of-type {
      .selectric {
        width: 117px;
      }
    }
    &:nth-of-type(2) {
      .selectric {
        width: 86px;
      }
    }
    &:nth-of-type(3) {
      .selectric {
        width: 164px;
      }
    }
    &:nth-of-type(4) {
      .selectric {
        width: 304px;
      }
    }
  }

  .selectric-items li {
    font-family: GothaR;
    font-size: pxToRem(13px);
    background-color: #282828;
    color: #fff;
    &:hover {
      background-color: #242424;
    }
  }

  .selectric-focus .selectric {
    border-bottom: none;
  }

  .selectric-hover .selectric {
    border-bottom: none;
  }

  .selectric-open .selectric {
    border-bottom: none;
  }

  .selectric-items {
    border: 1px solid #373737;
  }
}
// end header selct

.selectric {
  background-color: #282828;
  border: none;
  border-bottom: 1px solid rgb(83, 83, 83);
  // border-bottom: 2px solid rgb(42, 223, 187);
  outline: none;
  .label {
    font-family: GothaR;
    font-size: pxToRem(16px);
    margin-left: 0;
    color: #fff;
    height: 26px;
    line-height: 26px;
    position: relative;
    margin-right: 0;
    &::after {
      position: absolute;
      content: url("img/content/white-arrow.png");
      right: 0;
      bottom: 0;
    }
  }
}

.selectric-focus .selectric {
  border-bottom: 2px solid rgb(42, 223, 187);
}

.selectric-hover .selectric {
  border-bottom: 2px solid rgb(42, 223, 187);
}

.selectric-open .selectric {
  border-bottom: 2px solid rgb(42, 223, 187);
}

.selectric-items {
  border: 1px solid #373737;
}

.selectric-items li {
  font-family: GothaR;
  font-size: pxToRem(16px);
  background-color: #282828;
  color: #fff;
  &:hover {
    background-color: #242424;
  }
}

.selectric-items li.highlighted {
  background-color: #242424;
  color: #2adfbb;
}

@media (max-width: 767px) {
  .check-container .selectric {
    padding-bottom: .1rem;
    .label {
      height: auto;
      line-height: inherit;
      padding-right: 2rem;
    }
  }
  .select-block {
    .select-container {
      &:first-of-type {
        .selectric {
          width: 117px;
        }
      }
      &:nth-of-type(2) {
        .selectric {
          width: 86px;
        }
      }
      &:nth-of-type(3) {
        .selectric {
          width: 164px;
        }
      }
      &:nth-of-type(4) {
        .selectric {
          width: 253px;
          padding-right: 4rem;
          .label {
            padding-right: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .selectric {
    padding-bottom: .1rem;
    .label {
      height: auto;
      line-height: inherit;
    }
  }
}
